
@{
    ViewBag.Title = "Listar";
}


<div class="tm-product-table-container">
    <table class="table table-hover tm-table-small tm-product-table">
        <thead>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Id do cliente</th>
                <th scope="col">Nome Completo</th>
                <th scope="col">CPF</th>
                <th scope="col">CNPJ</th>

                <th scope="col">Situação Jurídica</th>
                <th scope="col">Categoria</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in ViewBag.ClienteSet)
            {
            <tr>
                <th scope="col">&nbsp;</th>

                <td class="tm-product-name">@cliente.IdCliente</td>
                <td>@cliente.NomeCompleto</td>
                <td>@cliente.CPF</td>
                <td>@cliente.CNPJ</td>
                <td>@cliente.SituacaoJuridica</td>
                <td>@cliente.Categoria</td>
                <th scope="col">&nbsp;</th>

                <td>
                    <form action="/Cliente/Details" method="post">
                        <input type="hidden" id="idcliente" name="idcliente" value="@cliente.IdCliente" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </td>

                <td>
                    <form action="/Cliente/Alterar" method="post">
                        <input type="hidden" id="idcliente" name="idcliente" value="@cliente.IdCliente" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="/Cliente/Remover" method="post">
                        <input type="hidden" id="idcliente" name="idcliente" value="@cliente.IdCliente" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>