
@{
    ViewBag.Title = "Listar";
}

<div class="tm-product-table-container">
    <table class="table table-hover tm-table-small tm-product-table">
        <thead>
            <h2 class="tm-block-title">Relação de funcionários</h2>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Senha</th>
                <th scope="col">Função</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var funcionario in ViewBag.FuncionarioSet)
            {
            <tr>
                <th scope="col">&nbsp;</th>
                <td class="tm-product-name">@funcionario.Nome</td>
                <td>@funcionario.Login</td>
                <td>@funcionario.Senha</td>
                <td>@funcionario.Funcao</td>
                <th scope="col">&nbsp;</th>
                <td>
                    <form action="/Funcionario/Alterar" method="post">
                        <input type="hidden" id="idfuncionario" name="idfuncionario" value="@funcionario.IdFuncionario" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="/Funcionario/Remover" method="post">
                        <input type="hidden" id="idfuncionario" name="idfuncionario" value="@funcionario.IdFuncionario" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </button>
                    </form>

                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

