
@{
    ViewBag.Title = "Pesquisa";
}


<div class="tm-product-table-container">
    <table class="table table-hover tm-table-small tm-product-table tabela-datatables">
        <thead>
            <h2 class="tm-block-title">Resultados das pesquisas</h2>
        <tbody>
            @foreach (var empresa in ViewBag.EmpresaSet)
            {
                <tr>
                    <th scope="col">&nbsp;</th>
                    <td class="tm-product-name">@empresa.NomeEmpresa</td>
                    <td class="tm-product-name">@empresa.TelefoneEmpresa</td>
                    <td class="tm-product-name">@empresa.EnderecoEmpresa</td>
                    <th scope="col">&nbsp;</th>

                    <td>
                        <form action="/Empresa/Details" method="post">
                            <input type="hidden" id="idempresa" name="idempresa" value="@empresa.IdEmpresa" />
                            <button type="submit" class="tm-product-delete-link">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </td>


                    <td>
                        <form action="/Empresa/Alterar" method="post">
                            <input type="hidden" id="idempresa" name="idempresa" value="@empresa.IdEmpresa" />
                            <button type="submit" class="tm-product-delete-link">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="/Empresa/Remover" method="post">
                            <input type="hidden" id="idempresa" name="idempresa" value="@empresa.IdEmpresa" />
                            <button type="submit" class="tm-product-delete-link">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>