
@{
    ViewBag.Title = "Listar";
}

<div class="tm-product-table-container">
    <table class="table table-hover tm-table-small tm-product-table">
        <thead>
            <h2 class="tm-block-title">Relação de Documentos</h2>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Tipo de documento</th>
                <th scope="col">Cliente</th>
                <th scope="col">Contrato</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var documento in ViewBag.DocumentoSet)
            {
            <tr>
                <th scope="col">&nbsp;</th>
                <td class="tm-product-name">@documento.Descricao</td>
                <td>@documento.IdCliente</td>
                <td>@documento.Contrato_IdContrato</td>
                <th scope="col">&nbsp;</th>
                <td>
                    <form action="/Documento/Details" method="post">
                        <input type="hidden" id="iddocumento" name="iddocumento" value="@documento.IdDocumento" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="/Documento/Alterar" method="post">
                        <input type="hidden" id="iddocumento" name="iddocumento" value="@documento.IdDocumento" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="/Documento/Remover" method="post">
                        <input type="hidden" id="iddocumento" name="iddocumento" value="@documento.IdDocumento" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

