
@{
    ViewBag.Title = "Listar";
}


<h2 class="tm-block-title">Faça sua pesquisa</h2>

<form action="/Documento/Pesquisa" method="post">
    <div class="input-group md-form form-sm form-2 pl-0">
        <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Pesquise pelo ID do documento" aria-label="Search" id="iddocumento" name="iddocumento">
        <div class="input-group-append">
            <input type="hidden" id="iddocumento" name="iddocumento" value="iddocumento" />
            <button type="submit">
                <span class="input-group-text lime lighten-2" id="iddocumento">
                    <i class="fas fa-search"></i>
                </span>
            </button>
        </div>
    </div>
</form>
<th scope="col">&nbsp;</th>

<div class="tm-product-table-container">
    <table class="table table-hover tm-table-small tm-product-table">
        <thead>
            <h2 class="tm-block-title">Relação de Documentos</h2>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Tipo de documento</th>
                <th scope="col">Cliente</th>
                <th scope="col">Contrato</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var documento in ViewBag.DocumentoSet)
            {
                <tr>
                    <th scope="col">&nbsp;</th>
                    <td class="tm-product-name">@documento.Descricao</td>
                    <td>@documento.IdCliente</td>
                    <td>@documento.Contrato_IdContrato</td>
                    <th scope="col">&nbsp;</th>
                    <td>
                        <form action="/Documento/Details" method="post">
                            <input type="hidden" id="iddocumento" name="iddocumento" value="@documento.IdDocumento" />
                            <button type="submit" class="tm-product-delete-link">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="/Documento/Alterar" method="post">
                            <input type="hidden" id="iddocumento" name="iddocumento" value="@documento.IdDocumento" />
                            <button type="submit" class="tm-product-delete-link">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="/Documento/Remover" method="post">
                            <input type="hidden" id="iddocumento" name="iddocumento" value="@documento.IdDocumento" />
                            <button type="submit" class="tm-product-delete-link">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

