
@{
    ViewBag.Title = "Details";
}
<html>
<head>
</head>
<body>
    <div class="tm-product-table-container">
    <table class="table table-hover tm-table-small tm-product-table">
        <thead>
            <h2 class="tm-block-title">Detalhes do Pagamento</h2>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Id do Pagamento</th>
                <th scope="col">Id do Contrato</th>
                <th scope="col">Valor Integral da Parcela</th>
                <th scope="col">Status</th>
                <th scope="col">Data de Vencimento</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <h2 class="tm-block-title">Informações</h2>
            <tr>
                <th scope="col">&nbsp;</th>
                <td class="tm-product-name">@ViewBag.PagamentoSet.IdPagamento</td>
                <td>@ViewBag.PagamentoSet.IdContrato</td>
                <td>@ViewBag.PagamentoSet.ValorIntegralDaParcela</td>
                <td>@ViewBag.PagamentoSet.Status</td>
                <td>@ViewBag.PagamentoSet.DataVencimento</td>
                <th scope="col">&nbsp;</th>
            </tr>
        </tbody>
    </table>
</div>
  
</body>
</html>
