
@{
    ViewBag.Title = "Listar";
}

<div class="tm-product-table-container">
    <table class="table table-hover tm-table-small tm-product-table">
        <thead>
            <h2 class="tm-block-title">Relação de Pagamentos</h2>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Valor Total da Parcela</th>
                <th scope="col">Status</th>
                <th scope="col">Data de Vencimento</th>
                <th scope="col">Id do Contrato</th>
                <th scope="col">id do Cliente</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pagamento in ViewBag.PagamentoSet)
            {
            <tr>
                <th scope="col">&nbsp;</th>
                <td class="tm-product-name">@Convert.ToDouble(pagamento.ValorIntegralDaParcela)</td>
                <td>@pagamento.Status</td>
                <td>@pagamento.DataVencimento</td>
                <td>@pagamento.ContratoIdContrato</td>
                <td>@pagamento.ClienteIdCliente</td>
                <th scope="col">&nbsp;</th>
                <td>
                    <form action="/Pagamento/Quitar" method="post">
                        <input type="hidden" id="idpagamento" name="idpagamento" value="@pagamento.IdPagamento" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="fas fa-check"></i>
                        </button>
                    </form>
                </td>

                <th scope="col">&nbsp;</th>
                <td>
                    <form action="/Pagamento/Details" method="post">
                        <input type="hidden" id="idpagamento" name="idpagamento" value="@pagamento.IdPagamento" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </td>



                <td>
                    <form action="/Pagamento/Alterar" method="post">
                        <input type="hidden" id="idpagamento" name="idpagamento" value="@pagamento.IdPagamento" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="/Pagamento/Remover" method="post">
                        <input type="hidden" id="idpagamento" name="idpagamento" value="@pagamento.IdPagamento" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </form>
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>
