
@{
    ViewBag.Title = "Listar";
}

<h2 class="tm-block-title">Faça sua pesquisa</h2>

<form action="/Pagamento/Pesquisa" method="post">
    <div class="input-group md-form form-sm form-2 pl-0">
        <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Pesquise pelo ID" aria-label="Search">
        <div class="input-group-append">
            <input type="hidden" id="idpagamento" name="idpagamento" value="idpagamento" />
            <button type="submit">
                <span class="input-group-text lime lighten-2" id="idpagamento">
                    <i class="fas fa-search"></i>
                </span>
            </button>
        </div>
    </div>
</form>
<th scope="col">&nbsp;</th>
<div class="tm-product-table-container">
    <table class="table table-hover tm-table-small tm-product-table">
        <thead>
            <h2 class="tm-block-title">Relação de Pagamentos</h2>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Valor Total da Parcela</th>
                <th scope="col">Status</th>
                <th scope="col">Data de Vencimento</th>
                <th scope="col">Id do Contrato</th>
                <th scope="col">id do Cliente</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pagamento in ViewBag.PagamentoSet)
            {
            <tr>
                <th scope="col">&nbsp;</th>
                <td class="tm-product-name" id="ValorIntegralDaParcela_@(pagamento.IdPagamento)">@Convert.ToDouble(pagamento.ValorIntegralDaParcela)</td>
                <td id="Status_@(pagamento.IdPagamento)" >@pagamento.Status</td>
                <td>@pagamento.DataVencimento</td>
                <td>@pagamento.IdContrato</td>
                <td>@pagamento.IdCliente</td>
                <th scope="col">&nbsp;</th>

                <td>
                    <form action="#" method="post">
                        <input type="hidden" id="idpagamento" name="idpagamento" value="@pagamento.IdPagamento" />
                        <button onclick="Pagar(@pagamento.IdPagamento)" class="tm-product-delete-link preventdefault">
                            <i class="fas fa-check"></i>
                        </button>
                    </form>
                </td>




                <td>
                    <form action="./Quitar" method="post">
                        <input type="hidden" id="idpagamento" name="idpagamento" value="@pagamento.IdPagamento" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="fas fa-check"></i>
                        </button>
                    </form>
                </td>


                <th scope="col">&nbsp;</th>
                <td>
                    <form action="/Pagamento/Details" method="post">
                        <input type="hidden" id="idpagamento" name="idpagamento" value="@pagamento.IdPagamento" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </td>



                <td>
                    <form action="/Pagamento/Alterar" method="post">
                        <input type="hidden" id="idpagamento" name="idpagamento" value="@pagamento.IdPagamento" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="/Pagamento/Remover" method="post">
                        <input type="hidden" id="idpagamento" name="idpagamento" value="@pagamento.IdPagamento" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </form>
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript" src="~/Content/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">


    function Pagar(Id) {
        var url = "@Url.Action("Quitar", "Pagamento")";
        $.post(url, { idpagamento: Id }, Atualiza);
    }
    function Atualiza(pagamento) {
        $("#Status_" + pagamento.IdPagamento).text(pagamento.Status);
        $("#ValorIntegralDaParcela_" + pagamento.IdPagamento).text(pagamento.ValorIntegralDaParcela);
    }

    $(".preventdefault").on('click', function (e) {
        e.preventDefault();
    });
</script>