
@{
    ViewBag.Title = "Listar";
}

<div class="tm-product-table-container">
    <table class="table table-hover tm-table-small tm-product-table">
        <thead>
            <h2 class="tm-block-title">Relação de contratos</h2>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Id do Cliente</th>
                <th scope="col">Titular do contrato</th>
                <th scope="col">Valor Total</th>
                <th scope="col">Valor em Aberto</th>
                <th scope="col">Quantidade de Parcelas</th>
                <th scope="col">empresaIdEmpresa</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contrato in ViewBag.ContratoSet)
            {
            <tr>
                <th scope="col">&nbsp;</th>
                <td class="tm-product-name">@contrato.IdCliente</td>
                <td>@contrato.NomeTitular</td>
                <td>@contrato.ValorContrato</td>
                <td>@contrato.ValorEmAberto</td>
                <td>@contrato.QuantidadeParcelas</td>
                <td>@contrato.EmpresaIdEmpresa</td>
                <th scope="col">&nbsp;</th>
                <td>
                    <form action="/Contrato/Alterar" method="post">
                        <input type="hidden" id="idcontrato" name="idcontrato" value="@contrato.IdContrato" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="/Contrato/Remover" method="post">
                        <input type="hidden" id="idcontrato" name="idcontrato" value="@contrato.IdContrato" />
                        <button type="submit" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

